<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<options>
    <localEndpointAddress>http://localhost:7070/okkam-core/WebServices</localEndpointAddress>
    <okkamEndpointAddress>http://api.okkam.org/okkam-core/WebServices</okkamEndpointAddress>
    <isAllCommunicationsSecured>false</isAllCommunicationsSecured>
    <enforceDomainOfServerCertificate>true</enforceDomainOfServerCertificate>
    <proxy>
        <isProxyRequired>false</isProxyRequired>
    </proxy>
</options>
